.mainNav,
.mainBar,
footer {
    background-color: rgb(206, 155, 183);
}

header {
    background-color: rgb(152, 174, 233)
}

main {
    background-color: rgba(0, 0, 0, 0);
}

body {
    background-image: linear-gradient(180deg, rgb(152, 174, 233), rgb(128, 87, 171));
}

header,
p {
    color: rgb(98, 57, 141);
}

h1,
h2,
h3,
h4,
a {
    text-align: center;
    color: rgb(98, 57, 141);
}